@font-face {
    font-family: 'Inter-regular';
    font-size: 400;
    src: url('./fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-bold';
    font-weight: 700;
    src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Inter-medium';
    font-weight: 500;
    src: url('./fonts/Inter-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

h2 {
    color: #4C5068;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

.header {
    background-color: #fff;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header_container {
    display: flex;
    /*grid-column-gap: 17px 41px 41px 33px;*/
    min-height: 120px;
    align-items: center;
}

.logo_img {
    margin-right: 17px;
}

.menu_block {
    display: flex;
    align-items: center;
    margin-right: 46px;
}

.header_hr {
    width: 1px;
    height: 22px;
    background-color: #8d91a5;
    margin-right: 14px;
}

.menu_button {
    display: flex;
    border: none;
    background: transparent;
}

.menu_slides {
    margin-right: 8.25px;
}

.int_reg_8 {
    font-family: 'Inter-regular';
    font-size: 8px;
}

.int_reg_10 {
    font-family: 'Inter-regular';
    font-size: 10px;
}

.int_reg_12 {
    font-family: 'Inter-regular';
    font-size: 12px;
}

.int_reg_14 {
    font-family: 'Inter-regular';
    font-size: 14px;
}

.int_reg_15 {
    font-family: 'Inter-regular';
    font-size: 15px;
}

.int_reg_16 {
    font-family: 'Inter-regular';
    font-size: 16px;
}

.menu_button span {
    color: #3494EC;
    font-style: italic;
}

.header_input {
    border-radius: 20px;
    padding: 15px 23px 15px 32px;
    width: 304px;
    border: none;
    background-color: #F2F3F8;
    font-family: 'Inter-regular';
    font-size: 14px;
    color:#8D91A5;
    margin-right: 49px;
}

.header_data {
    display: flex;
    gap: 15px;
    margin-right: 180px;
}

.header_location {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}

.location_txt {
    color: #4C5068;
}

.call_txt {
    color: #F71055;
}

.call_mini_txt {
    position: absolute;
    bottom: -5px;
    right: 0;
    color: #4C5068;
    font-style: italic;
}

.cart_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    background: transparent;
}

.cart_txt {
    font-style: italic;
    color:#4C5068;
}

.main {
    background-color: #F2F3F8;
    padding-top: 35px;
}

.main_top_left {
    background: url('./img/card1.png');
    padding: 41px 0 0 41px;
}

.main_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 364px;
    gap: 16px;
    margin-bottom: 19px;
}

.right_card_one {
    background: url('./img/card2.png');
    background-position: bottom 0 right 0 !important;
}

.right_card_two {
    background: url('./img/card3.png');
    background-position: bottom 0 right 0 !important;
}

.main_card {
    background-color: #fff;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;
}

.mons_bold_28 {
    font-family: 'Montserrat-bold';
    font-size: 28px;
}

.mons_bold_18 {
    font-family: 'Montserrat-bold';
    font-size: 18px;
    color: #fff;
}

.main_header {
    color: #3494EC;
}

.int_med_16 {
    font-family: 'Inter-medium';
    font-size: 16px;
    color: #8D91A5;
}

.top_left_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    border: none;
    background: #F71055;
    padding: 14px 18px;
    position: absolute;
    right: 37px;
    bottom: 130px;
}

.top_left_btn span {
    color: #fff;
}

.main_top_right {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 235px 1fr;
}

.main_top_right a div {
    padding: 30px 41px;
}

.mons_bold_22 {
    font-family: 'Montserrat-bold';
    font-size: 22px;
    color: #4C5068;
}

.row_original {
    position: absolute;
    top: 60px;
    right: 26px;
}

.row_nonoriginal {
    position: absolute;
    top: 75px;
    right: 26px;
}

.card_right_bottom {
    display: flex;
    align-items: center;
    gap: 35px;
}

.main_titles {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.main_titles_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 39px 44px 33px 71px;
    border-radius: 20px;
    background: url('./img/Mask1.png');
    background-repeat: no-repeat;
    margin-bottom: 19px;
}

.main_titles_top h1,
.title_bottom_left h1,
.title_bottom_right h2 {
    color: #fff;
}

.titles_top_lists {
    display: flex;
    gap: 8px;
}

.title_top_block_last {
    background-color: #3494EC;
    border-radius: 20px;
    width: 99px;
    height: 75px;
    padding-top: 20px;
    padding-left: 15px;
    position: relative;
}

.title_top_block_last p {
    color: #fff;
    font-style: italic;
}

.title_top_block_last svg {
    position: absolute;
    top: 39px;
    right: 19px;
}

.main_titles_bottom {
    display: grid;
    grid-template-columns: 772px 1fr;
    gap: 15px;
}

.title_bottom_left {
    background: url('./img/Mask2.png');
    padding: 35px 66px 31px 71px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title_bottom_right {
    background: url('./img/Mask3.png');
}

.title_bottom_right {
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 35px 45px 32px 45px;
}

.main_goods {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 60px;
}

.main_goods_title {
    margin: 0 auto;
    display: flex;
    gap: 17px;
}

.main_goods_title h2,
.advantages h2 {
    color: #4C5068;
}

.main_goods_btn {
    padding: 8px 11px 8px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 15px;
    background: #fff;
}

.main_goods_btn span {
    font-style: italic;
    color: #3494EC;
}

.main_goods_slides {
    overflow: hidden;
    margin-top: 18px;
    position: relative;
}

.main_goods_viewport {
    display: flex;
    gap: 12px;
}

.good_card {
    border-radius: 20px;
    background: #fff;
    padding: 29px 40px 14px 21px
}

.good_card img {
    margin-bottom: 23px;
}

.good_article_block {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.good_article_block p {
    color: #4C5068;
}

.m75 {
    min-height: 75px;
}

.good_card p {
    color: #4C5068;
}

.good_price_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good_price_btn {
    padding: 10px 15px;
    background: #F71055;
    border-radius: 15px;
}

.advantages {
    margin-bottom: 60px;
}

.advantages h2 {
    text-align: center;
}

.advantages_list {
    display: flex;
    margin-top: 25px;
    gap: 28px;
}

.advantages_card {
    width: 303px;
    height: 396px;
    border-radius: 20px;
    padding: 308px 0 0 40px;
}

.advantages_card h2 {
    text-align: start;
    color: #fff;
}

.advantages_card:nth-child(1) {
    background: url('./img/card6.png');
}

.advantages_card:nth-child(2) {
    background: url('./img/card7.png');
}

.advantages_card:nth-child(3) {
    background: url('./img/card8.png');
}

.advantages_card:nth-child(4) {
    background: url('./img/card9.png');
}

.publications {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 60px;
}

.publications_list {
    display: grid;
    grid-template-columns: 644px 1fr 1fr;
    gap: 12px;
}

.publications_card {
    background: #fff;
    border-radius: 25px;
    padding: 32px 37px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.publications_card p.int_reg_12 {
    font-style: italic;
    color: #8D91A5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.publications_btn {
    border-radius: 15px;
    padding: 8px 10px 8px 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    background: #3494EC;
    align-self: end;
    max-width: 83px;
}

.publications_btn span {
    font-style: italic;
    color: #fff !important;
}

.publications_card:nth-child(2),
.publications_card:nth-child(3) {
justify-content: space-between;
}

.publications_card .int_med_16 {
    color: #4C5068;
}

.banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 65px;
    background: url('./img/Mask4.png');
    padding: 85px 645px 58px 79px;
}

.banner h1,
.banner p {
    color: #fff;
}

.banner_btn {
    display: flex;
    padding: 16px 22px;
    border-radius: 20px;
    background: #3494EC;
    gap: 6px;
    align-items: center;
    max-width: 199px;
    align-self: end;
}

.banner_btn span {
    color: #fff;
    font-style: italic;
}

.footer {
    background: #1E202A;
    padding: 60px 0;
}

.footer_top {
    display: flex;
}

.footer_top_left {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 22px;
}

.footer_contact {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
}

.footer_contact p {
    font-style: italic;
    color: #3494EC;
}

.int_reg_8 {
    position: absolute;
    color: #fff;
    bottom: -5px;
    right: 0;
}

.footer_top_right {
    display: flex;
    gap: 112px;
    padding-top: 20px;
}

.footer_right_block h3 {
    margin-bottom: 14px;
    color: #fff;
}

.footer_right_mini {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_right_mini a {
    color: #8D91A5;
}

.footer_img {
    margin-top: 45px;
}

.footer_bottom {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom h3 {
    color: #B9B9B9;
}

.footer_bottom a {
    color: #8D91A5;
}